@page "/counter"
@using GoogleMaps.LocationServices;

<PageTitle>Counter</PageTitle>

<h1>Sijainti</h1>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    string location = "";

    public static void Main()
    {
        
        var locationService = new GoogleLocationService();
        var point = locationService.GetLatLongFromAddress(location);
        var latitude = point.Latitude;
        var longitude = point.Longitude;
    }
}

<form action="/action_page.php">
    <label for="fname">Sijainti</label>
    <input type="text" @bind="location" />
    <br><br>
    <input type="submit" value="Submit" @onclick="Main">
</form>
