@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


<form action="/fetchdata">
    <label for="fname">Sijainti</label>
    <input type="text" @bind="location" />
    <br><br>
    <input type="submit" value="Submit" @onclick="GetCoords">
</form>

@if (forecast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @* Jos on objekti, tehää taulukko *@
    int luku = 0;
    string kuvaus;
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in forecast.days[0].hours)
            {
                if (item.temp < 0)
                {
                    kuvaus = "kylmä";
                    if (item.temp < -10)
                    {
                        kuvaus = "vitun kylmä";
                    }
                }
                else
                {
                    kuvaus = "kuuma";
                    if (item.temp > 10)
                    {
                        kuvaus = "vitun kuuma";
                    }
                }
                <tr>
                    <td>@(item.datetime)</td>
                    <td>@((int)item.temp) °C</td>
                    <td>@((int)item.temp) F</td>
                    <td>@kuvaus</td>
                </tr>
                luku++;
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast? forecast;


    string location = "";

    public static void GetCoords()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        Dictionary<string, string> cordinates = new Dictionary<string, string>();
        string path = @"~/sample-data/coordinates.txt";
        if (File.Exists(path))
        {
            string[] yeetLines = File.ReadAllLines(path);
            foreach(string yeet in yeetLines)
            {
                string[] yeets = yeet.Split(":");
                cordinates.Add(yeets[0],yeets[1]);
            }
        }
        forecast = await Http.GetFromJsonAsync<WeatherForecast>("https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/Mikkeli,Finland,FI?key=K4JTCCH9FAMCTAY2KB3WGL3AR");
    }


    public class WeatherForecast
    {
        public int queryCost { get; set; }
        public float latitude { get; set; }
        public float longitude { get; set; }
        public string resolvedAddress { get; set; }
        public string address { get; set; }
        public string timezone { get; set; }
        public int tzoffset { get; set; }
        public string description { get; set; }

        public Days[] days { get; set; }
    }

    public class Days
    {
        public DateTime[] datetime { get; set; }
        public int datetimeEpoch { get; set; }
        public float tempmax { get; set; }
        public float tempmin { get; set; }
        public float temp { get; set; }
        public float feelslikemax { get; set; }
        public float feelslikemin { get; set; }
        public float feelslike { get; set; }
        public float dew { get; set; }
        public float humidity { get; set; }
        public float precip { get; set; }
        public int precipprob { get; set; }
        public float precipcover { get; set; }
        public string[] preciptype { get; set; }
        public float snow { get; set; }
        public float snowdepth { get; set; }
        public float windgust { get; set; }
        public float windspeed { get; set; }
        public float winddir { get; set; }
        public float pressure { get; set; }
        public float cloudcover { get; set; }
        public int visibility { get; set; }
        public int solarradiation { get; set; }
        public float solarenergy { get; set; }
        public int uvindex { get; set; }
        public int severerisk { get; set; }
        public DateTime[] sunrise { get; set; }
        public int sunriseEpoch { get; set; }
        public DateTime[] sunset { get; set; }
        public float moonphase { get; set; }
        public string conditions { get; set; }
        public string description { get; set; }
        public string icon { get; set; }
        public string[] stations { get; set; }
        public string sources { get; set; }
        public Hours[] hours { get; set; }
    }
    public class Hours
    {
        public DateTime[] datetime { get; set; }
        public int datetimeEpoch { get; set; }
        public float temp { get; set; }
        public float feelslike { get; set; }
        public float humidity { get; set; }
        public float dew { get; set; }
        public float precip { get; set; }
        public int precipprob { get; set; }
        public float snow { get; set; }
        public float snowdepth { get; set; }
        public string[] preciptype { get; set; }
        public float windgust { get; set; }
        public float windspeed { get; set; }
        public int winddir { get; set; }
        public int pressure { get; set; }
        public float visibillity { get; set; }
        public int cloudcover { get; set; }
        public int solarradiation { get; set; }
        public int solarenergy { get; set; }
        public int uvindex { get; set; }
        public int severerisk { get; set; }
        public string conditions { get; set; }
        public string icon { get; set; }
        public string[] stations { get; set; }
        public string source { get; set; }
    }

}
