@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


<form action="/fetchdata">
    <label for="fname">Sijainti</label>
    <input type="text" @bind="location" />
    <br><br>
    <input type="submit" value="Submit" @onclick="GetCoords">
</form>

@if (forecast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @* Jos on objekti, tehää taulukko *@
    int luku = 0;
    string kuvaus;
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in forecast.Hourly.Temperature_2m)
            {
                if(item < 0)
                {
                    kuvaus = "kylmä";
                    if(item < -10)
                    {
                        kuvaus = "vitun kylmä";
                    }
                }
                else
                {
                    kuvaus = "kuuma";
                    if(item > 10)
                    {
                        kuvaus = "vitun kuuma";
                    }
                }
                <tr>
                    <td>@(forecast.Hourly.Time[luku])</td>
                    <td>@((int)item) °C</td>
                    <td>@(32 + (int)(item / 0.5556)) F</td>
                    <td>@kuvaus</td>
                </tr>
                luku++;
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast? forecast;


    string location = "";

    public static void GetCoords()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        Dictionary<string, string> cordinates = new Dictionary<string, string>();
        string path = @"~/sample-data/coordinates.txt";
        if (File.Exists(path))
        {
            string[] yeetLines = File.ReadAllLines(path);
            foreach(string yeet in yeetLines)
            {
                string[] yeets = yeet.Split(":");
                cordinates.Add(yeets[0],yeets[1]);
            }
        }
        forecast = await Http.GetFromJsonAsync<WeatherForecast>("https://api.open-meteo.com/v1/forecast?latitude=61.6886&longitude=27.2723&hourly=temperature_2m&timezone=auto");
    }


    public class Hourly_units
    {
        public string Time { get; set; }
        public string Temperature_2m { get; set; }
    }

    public class Hourly
    {
        public DateTime[] Time { get; set; }
        public float[] Temperature_2m { get; set; }
        // public int TemperatureF => 32 + (int)(Temperature_2m / 0.5556);
    }

    public class WeatherForecast
    {
        public float queryCost { get; set; }
        public float latitude { get; set; }
        public float longitude { get; set; }
        public string resolvedAddress { get; set; }
        public string address { get; set; }
        public string timezone { get; set; }
        public int tzoffset { get; set; }
        public string description { get; set; }

        public days Hourly { get; set; }
    }

    public class days
    {
        public DateTime[] datetime { get; set; }
        public int datetimeEpoch { get; set; }
        public float tempmax { get; set; }
        public float tempmin { get; set; }
        public float temp { get; set; }
        public float feelslikemax { get; set; }
        public float feelslikemin { get; set; }
        public float feelslike { get; set; }
        public float dew { get; set; }
        public float humidity { get; set; }
        public float precip { get; set; }
        public int precipprob { get; set; }
        public float precipcover { get; set; }
        public string[] preciptype { get; set; }
        public float snow { get; set; }
        public float snowdepth { get; set; }
        public float windgust { get; set; }
        public float windspeed { get; set; }
        public float winddir { get; set; }
        public float pressure { get; set; }
        public float cloudcover { get; set; }
        public int visibility { get; set; }
        public int solarradiation { get; set; }
        public float solarenergy { get; set; }
        public int uvindex { get; set; }
        public int severerisk { get; set; }
        public DateTime[] sunrise { get; set; }
        public int sunriseEpoch { get; set; }
        public DateTime[] sunset { get; set; }
        public float moonphase { get; set; }
        public string conditions { get; set; }
        public string description { get; set; }
        public string icon { get; set; }
        public string[] stations { get; set; }
        
    }


}
